@import "./../../../styles/sass/abstracts/mixins.scss";
@import "./../../../styles/sass/abstracts/variables.scss";

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.heading {
  font-size: 30px;
  margin: 41px 0 30px 0;
}

.wrapper {
  display: flex;
}

.NavBreadcrumbs a:hover {
   text-decoration: underline;
}
