

.slider-product .slick-track {
    position: relative !important;
}


.slider-product .slick-prev {
    background: url("./../../../../img/slider1/arrow_left.svg") 0 0 no-repeat !important;
    height: 30px !important;
    left: -5% !important;
}

.slider-product .slick-next {
    background: url("./../../../../img/slider1/arrow_right.svg")  0 0 no-repeat !important;
    height: 30px !important;
    right: -5% !important;    
}


.slider-product .slick-arrow {
    position: absolute !important;
    top: 40% !important;
}