

.slider-product .slick-track {
    position: relative !important;
}


.slider-product .slick-prev {
    background-image: url(./../../../../img/slider1/arrow_right.svg) !important;
    
    left: -5% !important;
}

.slider-product .slick-next {
    background-image: url(./../../../../img/slider1/arrow_left.svg) !important;
   
    right: -5% !important;
}


.slider-product .slick-arrow {
    position: absolute !important;
    top: 40% !important;
}