@import './../../../../styles/sass/abstracts/variables.scss';
@import './../../../../styles/sass/abstracts/mixins.scss';



.btn {
   @include text (15px, 400, 18px, $basicTextColor);
   letter-spacing: 2px;
   width: 252px;
   height: 50px;
   background-color: #F0F0F4;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   transition: opacity 0.2s ease 0.1s;

   &:hover {
      opacity: 0.7;
   }

   &:active {
      transform: translate(1px, 2px);
   }
}