@import './../../../../styles/sass/abstracts/variables.scss';
@import './../../../../styles/sass/abstracts/mixins.scss';



.imgPersonal {
   transition: transform 0.2s ease;

   &:hover {
      transform: scale(1.1);
   }
}

.linkPersonal:not(:last-child) {
   margin-right: 8px;
}