@import './../../../../styles/sass/abstracts/variables.scss';
@import './../../../../styles/sass/abstracts/mixins.scss';


.banner {
   width: 100%;
   height: 165px;
   background-color: $accentColor;
   color: $veryLightColor;
   display: grid;
   grid-template-columns: 222px 222px 1fr 407px;
   align-items: center;
   margin-bottom: 72px;

   img {
      transition: transform 0.3s ease;

      &:hover {
         transform: scale(1.2);
      }
   }
}

.img1 {
   justify-self: flex-end;
}

.bannerText {
   display: flex;
   flex-direction: column;
   max-width: 280px;
}

.bannerType,
.text {
   font-family: "SFProDisplayBold";
   @include text (36px, 700, 100%, $veryLightColor);
}

.bannerType {
   text-transform: uppercase;
}

.btn {
   display: inline-block;
   width: 284px;
   height: 57px;
   background-color: $veryLightColor;
   text-decoration: none;
   padding: 4px 41px;
   font-family: "SFProDisplayMedium";
   @include text (24px, 500, 210%, $basicTextColor);
   cursor: pointer;
   transition: opacity 0.2s ease 0.1s;

   &:hover {
      opacity: 0.7;
   }

   &:active {
      transform: translate(1px, 2px);
   }
}