@import './../../../../styles/sass/abstracts/mixins.scss';
@import './../../../../styles/sass/abstracts/variables.scss';

.mailing {
   padding-top: 38px;
}

.label {
   margin-bottom: 33px;
   max-width: 230px;
}

.emailText {
   color: $basicTextColor;
   font-size: 14px;
   font-weight: bold;
}

.inputButton {
   display: flex;
}

.emailInput {
   border: none;
   height: 33px;
   width: 185px;   
}

::placeholder {
   font-size: 14px;
   line-height: 17px;
   color: $lightColorText;
}