@import './../../../../styles/sass/abstracts/mixins.scss';
@import './../../../../styles/sass/abstracts/variables.scss';

.label {
   margin-bottom: 33px;
   max-width: 230px;
}

.emailText {
   color: $basicTextColor;
   font-size: 14px;
   font-weight: bold;
}

.inputButton {
   display: flex;
}

.emailInput {
   border: none;
   height: 33px;
   width: 185px;
   padding-left: 15px;
   transition: 0.3s ease 0.1s;

   &:hover {
      box-shadow: 0 0 10px 0 #32323240;
   }

   &:focus {
      box-shadow: 0 0 10px 0 #32323240;
   }
}

::placeholder {
   font-size: 14px;
   line-height: 17px;
   color: $veryLightColor;
   padding-left: 12px;
}