



.innerSorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorter {
  width: 420px;
}

.list {
  display: flex;
  justify-content: space-between;
}


.selectWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sortTile {
  margin-left: 34px;
  margin-right: 10px;
}



































