@import "./../../../../../styles/sass/abstracts/mixins.scss";
@import "./../../../../../styles/sass/abstracts/variables.scss";

.item {
  @include text(20px, 400, 53px, $basicTextColor);
}

.item:hover {
  font-weight: 600;
  border-bottom: 3px solid $accentColor;
  width: max-content;
  padding-top: 3px;
}

a {
  color: inherit;
  text-decoration: none;
}