.thirdButton {
  width: 52px;
}
.secondButton {
  width: 60px;
}
.thirdButton {
  width: 63px;
}
.fourthButton {
  background-color: black;
  width: 86px;
}
.css-e53awj-MuiStack-root > :not(style) + :not(style) {
  margin-left: 5px;
}
