@import './../../../../styles/sass/abstracts/variables.scss';
@import './../../../../styles/sass/abstracts/mixins.scss';

.productDescription {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
      "leftBlock titleBlock"
      "leftBlock navBlock"
      "leftBlock tableBlock"
      "leftBlock button";
   margin-bottom: 75px;
}

.leftBlock {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 27px;
   grid-area: leftBlock;
}

.productAppearancePrice {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 64px;
}

.saleLabel,
.link,
.itemNumber {
   font-family: "SFProDisplayRegular";
   @include text (15px, 400, 120%, inherit);
}

.saleLabel {
   width: 94px;
   height: 44px;
   border-radius: 3px;
   padding: 13px 26px;
   color: $veryLightColor;
   background-color: $accentColor;
   letter-spacing: 0.8px;
   position: absolute;
   top: 0px;
   left: 0px;
}

.img {
   margin-bottom: 18px;
   transition: transform 0.3s ease;

   &:hover {
      transform: scale(1.1);
   }
}

.link,
.linkSmallTable {
   transition: opacity 0.2s ease 0.1s;

   &:hover {
      opacity: 0.7;
   }
}

.oldPrice,
.newPrice {
   line-height: 120%;
}

.oldPrice {
   font-family: "BarlowRegular";
   @include text (30px, 400, 120%, $semiLightColorText);
   position: relative;
   margin-bottom: 6px;
}

.oldPrice::after {
   content: "";
   position: absolute;
   top: 9px;
   left: 0;
   width: 133px;
   height: 21px;
   background: url("./../../../img/product-card/pseudo-line.svg") 0 0 no-repeat;
}

.newPrice {
   font-family: "BarlowBold";
   @include text (40px, 700, 120%, inherit);
   margin-bottom: 12px;
}

.link {
   color: $accentColor;
}

.productCharacteristics {
   padding: 20px 0 0 13px;
}

.titleBlock {
   margin-bottom: 40px;
   grid-area: titleBlock;
}

.title {
   max-width: 530px;
   font-family: "SFProDisplayBold";
   @include text (30px, 700, 120%, inherit);
   margin-bottom: 10px;
}

.itemNumber {
   display: block;
   color: $semiLightColorText;
   margin-bottom: 13px;
}

.itemNumberData {
   padding-left: 7px;
}

.rating {
   display: flex;
}

.diagramIcon {
   margin-right: 23px;
   cursor: pointer;
   transition: transform 0.3s ease 0.1s;

   &:hover {
      transform: scale(0.9);
   }
}

.checkbox {
   margin-right: 16px;
}

.navigationList {
   grid-area: navBlock;
   margin-bottom: 5px;
}

.list {
   display: flex;
}

.linkList {
   font-family: "SFProDisplayRegular";
   @include text (20px, 400, 120%, $basicTextColor);
   padding-bottom: 3px;
   margin-right: 40px;
   opacity: 0.6;
   transition: opacity 0.3s ease 0.1s;
}

.linkList:hover,
.active {
   font-weight: 700;
   border-bottom: 2px solid $accentColor;
   width: max-content;
   opacity: 1;
}

.smallTableWrap {
   margin-bottom: 40px;
   grid-area: tableBlock;
}

.linkSmallTable {
   color: $accentColor;
   text-decoration: underline;
}

.button {
   grid-area: button;
}