@import './../../../../styles/sass/abstracts/variables.scss';
@import './../../../../styles/sass/abstracts/mixins.scss';

.buyProduct {
   margin-bottom: 95px;
}

.contentBlock {
   padding: 50px 0 0 37px;
}

.searchBlock {
   display: flex;
   align-items: center;
   font-family: "SFProDisplayRegular";
   @include text (17px, 400, 120%, inherit);
   margin-bottom: 30px;
}

.inputSearch {
   height: 35px;
   width: 315px;
   padding: 0 35px 0 17px;
   background-color: $basicColor;
   border: none;
   position: relative;
   font-size: 17px;
   margin-right: 160px;
   background-image: url("./../../../img/product-card/search.svg");
   background-position: top 50% right 15px;
   background-repeat: no-repeat;
   transition: box-shadow 0.2s ease 0.1s;

   &:hover {
      box-shadow: 0 0 10px 0 #32323240;
   }
}

.labelName {
   margin-right: 17px;
}