@import './../../../../styles/sass/abstracts/variables.scss';

.buyProduct {
   margin-bottom: 100px;
}

.contentBlock {
   padding: 50px 0 0 37px;
}

.searchBlock {}

.inputSearch {
   height: 35px;
   width: 315px;
   padding: 0 35px 0 17px;
   background-color: $basicColor;
   border: none;
   position: relative;
   font-size: 17px;
   margin-right: 160px;
   background-image: url("./../../../img/product-card/search.svg");
   background-position: top 50% right 15px;
   background-repeat: no-repeat;
}

.searchBlock {
   display: flex;
   align-items: center;
   font-family: "SFProDisplayRegular";
   font-size: 17px;
   line-height: 120%;
}

.labelName {
   margin-right: 17px;
}