.banner {
   width: 100%;
   height: 165px;
   background-color: #1C62CD;
   color: white;
   display: grid;
   grid-template-columns: 222px 222px 1fr 407px;
   align-items: center;
   margin-bottom: 72px;
}

.img1 {
   justify-self: flex-end;
}

.bannerText {
   display: flex;
   flex-direction: column;
   max-width: 280px;
}

.bannerType,
.text {
   font-family: "SFProDisplayBold";
   font-size: 36px;
   line-height: 100%;
}

.bannerType {
   text-transform: uppercase;
}

.btn {
   display: inline-block;
   width: 284px;
   height: 57px;
   background-color: white;
   text-decoration: none;
   padding: 4px 41px;
   font-family: "SFProDisplayMedium";
   font-size: 24px;
   color: black;
   line-height: 210%;
   cursor: pointer;
}