@import './../../../../styles/sass/abstracts/variables.scss';

.btn {
   display: block;
   color: white;
   text-transform: uppercase;
   background-color: $accentColor;
   border: none;
   border-radius: 3px;
   font-family: "SFProDisplayRegular";
   line-height: 120%;
   cursor: pointer;
}