.btn {
   display: block;
   color: white;
   text-transform: uppercase;
   background-color: #1C62CD;
   border: none;
   border-radius: 3px;
   font-family: "SFProDisplayRegular";
   line-height: 120%;
   cursor: pointer;
}