.availability {
  display: flex;
  align-items: center;
}
.filter {
  max-width: 292px;
  width: 100%;
}
.fourthWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #c4c4c4;
  margin-bottom: 14px;
}
.navLink {
  color: #1c62cd;
}
.input {
  width: 290px;
  height: 30px;
  padding: 8px 0 8px 20px;
}
