@import './../../../styles/sass/abstracts/variables.scss';


.header {
   margin-bottom: 77px;
}

.container {
   width: 1200px;
   padding: 0 15px;
   margin: auto;
}

.headerWrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 50px;
   margin-bottom: 47px;
}


.listLeft {
   display: flex;
}

.logoSvg {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0%);
}


.listRight {
   margin-right: 100px;

   position: relative;
}

.listRight::before {
   content: "";
   background-image: url(./../../img/location.png);
   background-repeat: no-repeat;
   width: 27px;
   height: 30px;

   position: absolute;
   top: -12%;
   left: -15%;
}



.navigationRight {
   display: flex;
   justify-content: space-between;
}


a {
   cursor: pointer;
}



// ANIMATION LOGO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@-webkit-keyframes animate-svg-stroke-1 {
   0% {
      stroke-dashoffset: 509.9341735839844px;
      stroke-dasharray: 509.9341735839844px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 509.9341735839844px;
   }
}

@keyframes animate-svg-stroke-1 {
   0% {
      stroke-dashoffset: 509.9341735839844px;
      stroke-dasharray: 509.9341735839844px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 509.9341735839844px;
   }
}

@-webkit-keyframes animate-svg-fill-1 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

@keyframes animate-svg-fill-1 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

.svgElem1 {
   -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
      animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
   animation: animate-svg-stroke-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
      animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
   0% {
      stroke-dashoffset: 109.40730285644531px;
      stroke-dasharray: 109.40730285644531px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 109.40730285644531px;
   }
}

@keyframes animate-svg-stroke-2 {
   0% {
      stroke-dashoffset: 109.40730285644531px;
      stroke-dasharray: 109.40730285644531px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 109.40730285644531px;
   }
}

@-webkit-keyframes animate-svg-fill-2 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

@keyframes animate-svg-fill-2 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

.svgElem2 {
   -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
      animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
   animation: animate-svg-stroke-2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both,
      animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
   0% {
      stroke-dashoffset: 167.3743896484375px;
      stroke-dasharray: 167.3743896484375px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 167.3743896484375px;
   }

}

@keyframes animate-svg-stroke-3 {
   0% {
      stroke-dashoffset: 167.3743896484375px;
      stroke-dasharray: 167.3743896484375px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 167.3743896484375px;
   }

}

@-webkit-keyframes animate-svg-fill-3 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

@keyframes animate-svg-fill-3 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

.svgElem3 {
   -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
      animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
   animation: animate-svg-stroke-3 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s both,
      animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
   0% {
      stroke-dashoffset: 73.41992950439453px;
      stroke-dasharray: 73.41992950439453px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 73.41992950439453px;
   }
}

@keyframes animate-svg-stroke-4 {
   0% {
      stroke-dashoffset: 73.41992950439453px;
      stroke-dasharray: 73.41992950439453px;
   }

   100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 73.41992950439453px;
   }
}

@-webkit-keyframes animate-svg-fill-4 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

@keyframes animate-svg-fill-4 {
   0% {
      fill: transparent;
   }

   100% {
      fill: rgb(47, 48, 53);
   }
}

.svgElem4 {
   -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
      animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
   animation: animate-svg-stroke-4 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both,
      animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}