@import './../../../../styles/sass/abstracts/variables.scss';
@import './../../../../styles/sass/abstracts/mixins.scss';


.box {
   width: 271px;
   height: 403px;
   border: 1px solid #CDCDCD;
   padding-top: 16px;
   padding-right: 16px;
   padding-left: 16px;
   position: relative;
   transition: box-shadow 0.3s ease 0.1s;

   &:hover {
      box-shadow: 3px 3px 20px 0px #32323240;
      color: $accentColor;     
   }   

   .sale {
      background-color: $accentColor;
      color: $veryLightColor;
      width: 60px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
   }

   .like {
      display: flex;
      justify-content: end;
      text-align: end;
   }

   .contentWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }

   .imgWrap {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      position: relative;

      &::after {
         content: "Посмотреть товар";
         @include text (20px, 400, 110%, $basicTextColor);
         position: absolute;
         top: 35%;
         left: auto;         
         width: 230px;
         height: 61px;
         background: #FFFFFF;
         opacity: 0;
         box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
         border-radius: 3px;
         display: flex;
         justify-content: center;
         align-items: center;
         transition: opacity 0.3s ease 0.1s;
         cursor: pointer;
      }

      &:hover::after {
         opacity: 0.9;
      }
   }

   .productImg {
      width: 100%;     
   }

   .title {
      @include text (18px, 400, 120%, inherit);
      display: block;
      width: 230px;
      height: 45px;
      text-align: center;
      margin-bottom: 7px;
   }


   .price {
      font-family: "BarlowBold";
      @include text (30px, 600, 120%, inherit);
      padding-top: 13px;
   }


   .nope {
      @include text (18px, 700, 21px, $basicTextColor);
      margin-bottom: 10px;
   }

   .inform {
      @include text (16px, 400, 27px, $accentColor);
      border-bottom: 1px solid $accentColor;
      transition: opacity 0.3s ease 0.1s;

      &:hover {
         opacity: 0.7;
      }
   }

   .cartLink {
      width: 60px;
      height: 40px;
      background-color: $accentColor;
      border-top-left-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: 0;
   }
}