@import "./../../../../styles/sass/abstracts/variables.scss";
@import "./../../../../styles/sass/abstracts/mixins.scss";



.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  height: 53px;

  margin-bottom: 55px;
}


.navigation {

  background-color: $basicColor;
}





































