.social {
   padding-top: 43px;
   margin-right: 45px;
}

.list {
   display: flex;
}

.item {
   margin-right: 30px;
   list-style-type: none;
}

.link {
   transition: transform 0.2s ease;

  
}

.imgSocial {
   width: 30px;
   transition: transform 0.3s ease;

   &:hover {
      transform: scale(1.1);
   }
}