

.sectionProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
<<<<<<< HEAD
    margin-bottom: 80px;
=======

    margin-bottom: 80px;

>>>>>>> 82a4ec81cdb3a69647edcde4c4600b6e8c47ce23
}

