@import './../../../../styles/sass/abstracts/mixins.scss';
@import './../../../../styles/sass/abstracts/variables.scss';


.list{
    display: flex;
    justify-content: center;
    list-style-type: none;    
}

.link{
    color: $basicTextColor;
    text-decoration: none;
    font-size: 10px;
    line-height: 120%;  
}
.item{
   padding-left: 95px;
   margin-right: 80px;    
}