@import './../../../../src/styles/sass/abstracts/mixins.scss';
@import './../../../../src/styles/sass/abstracts/variables.scss';


.footer{
    background: $basicColor;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.inner{
    display: flex;
    justify-content: space-between;
    
}