.footer{
    background: #f0f0f4;
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
}