.wrap {
  display: flex;
  justify-content: space-between;
}
.wrapLeft,
.wrapRight {
  display: flex;
}
.text {
  margin-right: 12px;
  color: #c4c4c4;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.span {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
}
