@import './../../../../../styles/sass/abstracts/variables.scss';


.table {
   font-family: "SFProDisplayRegular";
   line-height: 120%;
   display: grid;
   grid-template-columns: minmax(200px, 300px) minmax(190px, 255px) minmax(130px, 205px) minmax(135px, 230px) 140px;
   grid-template-areas: "th1 th2 th3 th4 th5"
      "td1 td2 td3 td4 td5"
      "td6 td7 td8 td9 td10"
      "td11 td12 td13 td14 td15"
      "td16 td17 td18 td19 td20";

   // grid-template-areas: "th1 td1"
   //    "th2 th5"
   //    "td2 td2"
   //    "th3 td3"
   //    "th4 td4"
   //    "td5 td5";

}

tr,
thead,
tbody {
   display: contents;
}

th {
   padding: 24px 0;
   text-align: left;
   font-size: 20px;
}

td {
   padding: 16px 0;
   font-size: 16px;
   border-bottom: 1px solid $lightColorText;
}

.th1 {
   grid-area: th1;
}

.th2 {
   grid-area: th2;
}

.th3 {
   grid-area: th3;
}

.th4 {
   grid-area: th4;
}

.th5 {
   grid-area: th5;
}

.td1 {
   grid-area: td1;
}

.td2 {
   grid-area: td2;
}

.td3 {
   grid-area: td3;
}

.td4 {
   grid-area: td4;
}

.td5 {
   grid-area: td5;
}

.td6 {
   grid-area: td6;
}

.td7 {
   grid-area: td7;
}

.td8 {
   grid-area: td8;
}

.td9 {
   grid-area: td9;
}

.td10 {
   grid-area: td10;
}

.td11 {
   grid-area: td11;
}

.td12 {
   grid-area: td12;
}

.td13 {
   grid-area: td13;
}

.td14 {
   grid-area: td14;
}

.td15 {
   grid-area: td15;
}

.td16 {
   grid-area: td16;
}

.td17 {
   grid-area: td17;
}

.td18 {
   grid-area: td18;
}

.td19 {
   grid-area: td19;
}

.td20 {
   grid-area: td20;
}