@import "./../../../../../styles/sass/abstracts/variables.scss";

.item {
   font-family: "SFProDisplayRegular";
   color: $basicTextColor; 
   position: relative;     
}

a {
   color: inherit;
   text-decoration: none;
}

.item:hover{
   font-weight: 600;   
}

.item:hover::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: $accentColor;
   bottom: 0;
   left: 0;
}

