@import "./../../../../../styles/sass/abstracts/variables.scss";

.item {
   font-family: "SFProDisplayRegular";
   color: $basicTextColor;
   position: relative;   

   &:hover {
      font-weight: 600;
   }
}

a {
   color: inherit;
   text-decoration: none;
}

.item::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: $accentColor;
   bottom: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.3s ease 0.1s;
}

.item:hover::after {
   opacity: 1;
}