.shopMenu{
    font-size: 14px;
    margin: 40px 0 0 100px;
}
.item{
    padding-top: 5px;
    list-style-type: none;
}
.link{
    color: #2F3035;
    text-decoration: none;
}
.list{
    padding-left: 0;
    text-align: start;
}