@import "./../../../../styles/sass/abstracts/variables.scss";

.list {
  display: flex;
//   justify-content:space-between;
  align-items: center;
//   height: 53px;
}

.navigation {
  background-color: $basicColor;  
}





































