@import './../../../../styles/sass/abstracts/mixins.scss';
@import './../../../../styles/sass/abstracts/variables.scss';


h3, .infoMenu {
   font-size: 14px;   
}

.infoMenu {  
   padding-left: 65px;
   margin-right: 0;
}

.itemMenu {
   padding-top: 5px;
   list-style-type: none;   
}

.linkMenu {
   color: $basicTextColor;
   text-decoration: none;
   transition: color 0.2s ease 0.1s;

   &:hover {
      color: #1C62CD;
   }
}

.listMenu {
   padding-left: 0;
   text-align: start;
}