.infoMenu{
    font-size: 14px;
    margin: 40px 0 0 100px;
    }
.itemMenu{
    padding-top: 5px;
    list-style-type: none;
    
}
.linkMenu{
    color: #2F3035;
    text-decoration: none;
}
.listMenu{
    padding-left: 0;
    text-align: start;
}